@media (max-width: 913px) {
  .mobile-nav-toggle {
    display: block;
    padding: 8px;
    margin-bottom: 40px;
    font-size: 25px;
    border-radius: 0.5em;
  }
  #header {
    height: 11vh;
  }
  #header .logo a {
    /* font-size: 13px;
    line-height: 2.2; */
    display: none;
  }
  #header .logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 20px;
  }
  #header .logo img {
    height: 7vh;
  }
  .navbar a {
    color: white;
  }
  .navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: white;
}

.responsive-video{
  height: 25rem;
}

.section-gallery{
  padding: 10px;
}
}
@media (max-width: 830px) {
  .responsive-video{
    height: 20rem;
  }
}
@media (max-width: 564px) {

  .responsive-video{
    height: 15rem;
  }

    .navbar-mobile a {
        font-size: 10px;
      }
      #navbar{
        width: 200px;
      }
      .carousel-inner img{
        height: 30vh;
      }
}
@media (max-width: 390px) {
      .mobile-nav-toggle {
        margin-right: 25px;
      }

      .responsive-video{
        height: 10rem;
      }

}
